<!DOCTYPE html>
<html>
<head>
    <title>Email de Confirmation d'Utilisateur</title>
</head>
<body>
<p>Cher(e) ${user},</p>

<p>Nous sommes ravis de vous accueillir sur notre plateforme.</p>
<p>Vous pouvez cliquer sur le lien ci-dessous à tout moment pour commencer l'entretien avec le chatbot :</p>




<p><a href="${lienEntretien}">Commencez la Session de Discussion</a></p>

<p>Si vous ne vous êtes pas inscrit pour un compte, veuillez ignorer cet email.</p>

<p>Meilleures salutations,</p>
<p>IT PEAC</p>
</body>
</html>
