<html xmlns:th="http://www.thymeleaf.org">
	<head>
	 <meta charset="UTF-8">
        <title>[[${header}]]</title>
    </head>
<body>
		<p>
            Bonjour,
        </p>
        <p>
            Suite à votre demande, votre mot de passe Sport4all a été réinitialisé et votre nouveau mot de passe est [[${user.password}]]
        </p>
        <p>
           Vous devrez le modifier à la première connexion
        </p> 
        <p>
           Veuillez contacter votre administrateur si vous avez des questions
        </p>
        <p>
            <span>Cordialement, </span>
            <br/>
        </p>
		<div th:replace="mail/_footer"></div>
    </body>
</body>
</html>