<div class="grid">

    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="createNewTest()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedOffers || !selectedOffers.length"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="offersList" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedOffers" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gérer les offres d'emploi</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="offer">Offre <p-sortIcon field="offer"></p-sortIcon></th>
                        <th pSortableColumn="description">Description <p-sortIcon field="desription"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-offer>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="offer"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                            {{offer.title}}
                        </td>
                        <td style="width:70%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            <div class="description p-ellipsis" style="width: 100%;" [innerHTML]="offer.description" ></div>
                        </td>
                        <td style="width:70%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            <div class="description p-ellipsis" style="width: 100%;" [innerHTML]="offer.responsibilities" ></div>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(offer)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(offer)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="offerDialog" [style]="{width: '450px'}" header="Détails de l'offres" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Offre</label>
                    <input type="text" pInputText id="name" [(ngModel)]="offer.title" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !offer.title}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !offer.title">Nom d'offre requis.</small>
                </div>
                <div class="field">
                    <label for="description">Description</label>
                    <quill-editor id="description" [(ngModel)]="offer.description" [styles]="{ height: '200px' }" [required]="true" [ngClass]="{'ng-invalid ng-dirty' : submitted && !offer.description}"></quill-editor>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !offer.description">Description requise.</small>
                </div>




            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveOffer()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteOfferDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="offer">Are you sure you want to delete <b>{{offer.title}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteOfferDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteOffersDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteOffersDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>


