groups:
 exp:
  gid: "505"
users:
 agregio:
  groups:
    - exp
  uid: "508"
  homeDir: "/home/ariarh"
 tomcat:
  groups: 
   - exp
commands:
 create_dir_0:
  command: |
   mkdir -p /usr/local/applications/ariarh/data/in
   chmod 750 /usr/local/applications/ariarh/data/in
   chown tomcat:exp /usr/local/applications/ariarh/data/in
 create_dir_1:
  command: |
   mkdir -p /usr/local/applications/ariarh/logs
   chmod 750 /usr/local/applications/ariarh/logs
   chown tomcat:exp /usr/local/applications/ariarh/logs

 set_timezone:
  command: |
   sudo sed -E -i 's/^ZONE=.*$/ZONE="Europe/Paris"/' /etc/sysconfig/clock
   sudo ln -sf /usr/share/zoneinfo/Europe/Paris /etc/localtime 